<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044608870893-qdujufpfbe9fe1lheg8oiec7grg2fvbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044608870893-qdujufpfbe9fe1lheg8oiec7grg2fvbu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1044608870893-4lqmkl9u2vcrg36kra9stqna6sqva0sh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYzfDbY-WTHY4_0jRTZBXlDKqxrMdef64</string>
	<key>GCM_SENDER_ID</key>
	<string>1044608870893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theguideliverpool.theguideapp</string>
	<key>PROJECT_ID</key>
	<string>theguideliverpool-51e81</string>
	<key>STORAGE_BUCKET</key>
	<string>theguideliverpool-51e81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044608870893:ios:c472d230ab798a35021fe4</string>
</dict>
</plist>